<!DOCTYPE html>
<html>
<head>
    <title>Demo Website | @ViewData["Title"]</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
    @RenderBody()
</body>

</html>

