@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dapper.SimpleCRUD</h1>
    <p class="lead">Simple Get, GetList, Insert, Update, and Delete extensions for Dapper.</p>
    <p><a href="https://github.com/ericdc1/Dapper.SimpleCRUD" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Examples</h2>
        <h4>Basic</h4>
        <p>
            List, View, Create, Update, Delete using a model with no attributes. The database primary key is named Id.
        </p>
        <p>@Html.ActionLink("View Example", "Index", "Car", null, new {Class="btn btn-default" })</p>
        <p>&nbsp;</p>
        <h4>Advanced</h4>
        <p>
            Paged List, View, Create, Update, Delete using a model with the following attributes:
            <ul>
                <li>[Key] to define the UserId property as the primary key</li>
                <li>[Table("Users")] to define that the table name is different than the model name of User</li>
                <li>[Column("intAge")] to define that the column name is different than the model property name of Age</li>
                <li>[Editable(false)] to let the mapper know not to try to add the calculated property of FullName to the database</li>
            </ul>
        </p>
        <p>@Html.ActionLink("View Example", "Index", "User", null, new { Class = "btn btn-default" })</p>
        
        <p>&nbsp;</p>
        <h4>GUID Primary Key</h4>
        <p>
            List, View, Create, Update, Delete using a with a GUID primary key:
        </p>
        <p>@Html.ActionLink("View Example", "Index", "GUIDTest", null, new { Class = "btn btn-default" })</p>

    </div>
</div>